.app {
  background-color: rgb(154, 212, 231);
  color: rgb(250, 245, 245);
  min-height: 100vh;
}

.main-heading{
  color: hotpink;
  background-color: black;
}

.sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 62px;
  align-self: flex-start;
  align-items: start;
}

.main-heading {
  border-bottom: 1px solid #f7f3f3;
  margin-bottom: 1rem;
}

.flex-center {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}